Body {
    background-color: #808080;
}

img {
    padding: center;
    position: relative;
    top: 100px;
}

label {
    font-size: large;
}

.form {
    position: absolute;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 200px;
    left: 600px;
}

.form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}

.form button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
}

header {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    ;
    font-size: 20px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #eca023;
}